---
import { Image } from "astro:assets";
import ShopEmoji from "@/assets/images/shop_emoji.png";
import Showcase from "./Showcase.mdx";
---

<div class="wrap">
  <div class="landing__wrap">
    <div class="landing__title-wrap">
      <Image class="landing__shop-emoji" src={ShopEmoji} alt="Shop emoji" />
      <div class="landing__title">Tento</div>
    </div>
    <div class="landing__description">
      Shopify data framework for NodeJS and TypeScript
    </div>
    <div class="landing__name-meaning">
      Tento [店頭] means "shop" in Japanese
    </div>
    <a href="/docs/overview" class="landing__documentation-btn"
      ><div>Documentation</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
        data-astro-cid-iirlvvjs=""
        ><line x1="5" y1="12" x2="19" y2="12" data-astro-cid-iirlvvjs=""
        ></line><polyline points="12 5 19 12 12 19" data-astro-cid-iirlvvjs=""
        ></polyline></svg
      >
    </a>
  </div>
  <Showcase />
</div>
<script is:inline>
  const codeBlocks = document.querySelectorAll(".code");
  codeBlocks.forEach((codeBlock) => {
    Array.from(codeBlock.children).forEach((child, index) => {
      child.classList.toggle("hidden", index !== 0);
    });
  });

  document
    .querySelectorAll("[data-change-bigcode-tab-btn]")
    .forEach((button) => {
      button.addEventListener("click", (e) => {
        const target = e.target;
        const parent = target.parentElement;
        const index = Array.from(parent?.children || []).indexOf(target);
        const code = parent.nextElementSibling;

        if (code) {
          Array.from(code.children).forEach((child, codeIndex) => {
            child.classList.toggle("hidden", codeIndex !== index);
          });
        }
        Array.from(parent.children).forEach((child, codeIndex) => {
          child.classList.toggle("bigcodetabs_tab", codeIndex !== index);
          child.classList.toggle(
            "bigcodetabs_tab--active",
            codeIndex === index,
          );
        });
      });
    });
</script>

<style>
  .wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    padding: 100px 0;
  }
  .landing__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing__title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing__title {
    margin-left: 4px;
    font-size: 32px;
    font-weight: 700;
    color: #e2e8f0;
  }

  .landing__shop-emoji {
    width: 36px;
    height: 36px;
  }

  .landing__description {
    width: 100%;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 600;
    color: #e2e8f0;
  }

  .landing__name-meaning {
    margin-top: 4px;
    font-size: 14px;
    color: #999;
  }

  .landing__documentation-btn {
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
    line-height: 1;
    width: 212px;
    border-radius: 3px;
    font-weight: 700;
    height: 48px;
    background-color: #161e23;
    color: #b0b6c2;
    border: 1px solid #2c3c47;
  }
  .landing__documentation-btn svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
  }
</style>
