---
import { Image } from "astro:assets";
import ShopEmoji from "@/assets/images/shop_emoji.png";
---

<div class="logo__wrap">
  <a class="logo__link" href={"/"}>
    <div class="logo__emoji">
      <Image src={ShopEmoji} alt="Shop emoji" />
    </div>
    <div>Tento</div>
  </a>
  <a href="/docs/overview" class="logo__docs-text">
    <div class="logo__docs-icon">
      <svg
        viewBox="0 0 16 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="icon-sm"
        ><path
          d="M14.477 12.0001H7.17725V2.91919H14.477C14.8606 2.91919 15.1716 3.23015 15.1716 3.61374V11.3055C15.1716 11.6891 14.8606 12.0001 14.477 12.0001Z"
          fill="hsl(211, 100%, 43.2%)"></path><path
          d="M1.1432 12.0001H7.60645V2.91919H1.1432C0.759611 2.91919 0.448652 3.23015 0.448652 3.61374V11.3055C0.448652 11.6891 0.759611 12.0001 1.1432 12.0001Z"
          fill="hsl(211, 100%, 43.2%)"></path><path
          d="M7.44238 2.75447V11.2081C6.25791 10.0362 1.9577 10.2382 1.9577 10.2382V0.893055C1.9577 0.893055 5.71355 0.264309 7.44238 2.75447Z"
          fill="hsl(208, 77.5%, 76.9%)"></path><path
          d="M8.19653 2.75447V11.2081C9.38101 10.0362 13.6812 10.2382 13.6812 10.2382V0.893055C13.6812 0.893055 9.92537 0.264309 8.19653 2.75447Z"
          fill="hsl(208, 77.5%, 76.9%)"></path>
      </svg>
    </div>
     Docs
  </a>
</div>
<style>
  .logo__wrap {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .logo__emoji img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  html[class~=dark] .logo__docs-icon svg{
    color: #C5F74F;
  }

  html[class~=dark] .logo__docs-icon {
    background-color: rgb(16, 42, 76);
  }

  .logo__docs-icon {
    margin-left: 12px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 240, 255);
    border-radius: 4px;
    height: 24px;
    width: 24px;
  }

  .logo__docs-text {
    display: flex;
    align-items: center;
  }

  .logo__docs-icon svg {
    width: 16px;
    height: 16px;
  }

  .logo__link {
    outline-offset: 2px;
    outline: 2px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
</style>
