---
import { Image } from "astro:assets";
import ShopEmoji from "@/assets/images/shop_emoji.png";
---

<div class="logo__wrap">
  <div class="logo__emoji">
    <Image src={ShopEmoji} alt="Shop emoji" />
  </div>
  <span>Tento</span>
</div>
<style>
  .logo__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
  }

  .logo__emoji img {
    width: 24px;
    height: 24px;
  }

</style>
