---
import { Image } from "astro:assets";
import ShopEmoji from "@/assets/images/shop_emoji.png";
import Layout from "../ui/Layout.astro";
import Showcase from "@/content/landing/showcase.mdx";
import BuiltByDrizzleTeam from "@/ui/components/BuiltByDrizzleTeam.astro";
---

<Layout title="Tento">
  <div class="wrap">
    <div class="landing__wrap">
      <div class="landing__title-wrap">
        <Image class="landing__shop-emoji" src={ShopEmoji} alt="Shop emoji" />
        <div class="landing__title">Tento</div>
      </div>
      <div class="landing__description">
        Shopify data framework for NodeJS and TypeScript
      </div>
      <div class="landing__name-meaning">
        Tento [店頭] means "shop" in Japanese
      </div>
      <BuiltByDrizzleTeam />
      <a href="/docs/get-started" class="landing__documentation-btn"
        ><div>Documentation</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
          data-astro-cid-iirlvvjs=""
          ><line x1="5" y1="12" x2="19" y2="12" data-astro-cid-iirlvvjs=""
          ></line><polyline points="12 5 19 12 12 19" data-astro-cid-iirlvvjs=""
          ></polyline></svg
        >
      </a>
    </div>
    <Showcase />
  </div>
  <script>
  
  </script>
  <style>
    html[class~="dark"] .landing__title {
      color: #e2e8f0;
    }
    html[class~="dark"] .landing__description {
      color: #e2e8f0;
    }

    html[class~="dark"] .landing__name-meaning {
      color: #999;
    }

    .wrap {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 72px;
      padding: 100px 0;
    }
    .landing__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .landing__title-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .landing__title {
      margin-left: 4px;
      font-size: 32px;
      font-weight: 700;
    }

    .landing__shop-emoji {
      width: 36px;
      height: 36px;
    }

    .landing__description {
      width: 100%;
      font-size: 20px;
      margin-top: 8px;
      font-weight: 600;
    }

    .landing__name-meaning {
      margin-top: 4px;
      font-size: 14px;
      color: #727272;
    }

    html[class~="dark"] .landing__documentation-btn {
      background-color: #e2e8f0;
      color: #282828;
    }

    .landing__documentation-btn {
      margin-top: 80px;
      width: 212px;
      border-radius: 3px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      height: 48px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: #282b3b;
      gap: 10px;
    }
    .landing__documentation-btn svg {
      width: 16px;
      height: 16px;
    }
  </style>
  <script>
    window.addEventListener("beforeunload", () => {
      localStorage.setItem("sidebar-scroll", "0");
    });
  </script>
</Layout>
